*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Phan css chung */
#main{
    font-family: 'Quicksand', sans-serif;
    /* background-color: #f5f8fd; */
}
hr{
    border: 1px rgb(237, 242, 242) solid ;
}
a{
    color: black;
    text-decoration: none !important;
}
a:hover{
    color: none;

}
.doc{
    color: aliceblue;
}

@keyframes example {
    from {
      transform: translateY(-70px);
    }
  
    to {
      transform: translateY(0px);
    }
  }

  /* [class *= "col"]{
    padding: 5px;
    
} */

/* Thuoc tin js */
.header-menus{
    
    background-color: #fff;
}

.header.close-header-wrapper{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 900;
    animation: example 1s both;
    
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}
.header-contacts.close-heade-contacts{
    display: none;
}


.icon-header{
   
    padding: 12px;
    position: relative;
}
.icon-header .icon-header-list{
    color: #fff;
    font-size: 20px;
    padding: 12px;
    position: relative;
}
.header-acc-dropdown.open-header-acc-dropdown{
    display: block;

    
}
.header-acc-dropdown{

    background-color: #fff;
    position: absolute;
    z-index: 400;
    right: 71px;
    top: 39px;
    border-radius: 4px;
    box-shadow: 0 -4px 32px rgb(0 0 0 / 20%);
    width: 365px;
    display: none;
}
.header-dropdown-content{
    padding: 15px;   
    
}
.site_account {
    float: left;
    font-size: 12px;
    color: #878c8f;
    margin-top: 12px;
}
.site_account a{
    color: #878c8f;
}

.header-acc-title p{
    text-align: center;
    margin-bottom: 0;
}
.header-acc-title h3{
    font-size: 15px;
}
.contact-list{
    padding: 15px;
}
.contact-list a{
    color: #fff;
    font-size: 13px;

}
.contact-list a:hover{
    color: #fff;
}
.header-contacts{
    background-color: black;

}
.header-wrap-content{
    display: flex;
    align-items: center;
    
}
.icon-search{
    display: flex;
}

/* content-section */

.content-section{
    background-color:  #f5f8fd;
   
}
.banner-contact{
    padding-bottom: 40px;
}
.section-heading{
    margin-bottom: 30px;
    margin-top: 40px;
    text-align: center;
}
.section-product-collection{
    padding-bottom: 40px;
}
.heading-title{
   
    margin: 0 0 8px;
    display: inline-block;
    min-width: 70%;
    background: black;
    box-shadow: 0px 0px 0px 2px rgb(37 42 43 / 80%);
    padding: 8px 15px 10px;
    border-radius: 50px;
}
.heading-title > a{
    color: #fff;
    font-weight: 700;
    font-size: 24px;
}
.listproduct-row{
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card-body{
    padding: 0px  5px 16px 16px !important;
}
.product-details h3{
    font-size: 14px;
    color: black;
}
.product-price .price{
    margin-right: 5px;
    font-weight: 600;
}
.product-price .price-del{
    color: #878c8f;
    text-decoration: line-through;
    font-weight: 300;
    font-size: 13px;
}
.input-acc-login input{
    width: 100%;
    margin-top: 12px;
    height: 50px;
    padding: 12px;
    font-size: 12px;
}
.btn-login{
    background-color: black;
    color: #fff;
    font-size: 15px !important;
    border: none !important;
    border-radius: 3px;
}
.btn-login:hover{
    background-color: rgb(142, 19, 19);

}
.pro-sale{
    position: absolute;
    left: 5px;
    background: red;
    letter-spacing: 0.5px; 
    margin: 5px; 
    z-index: 2;
}
.pro-sale span{
    color: #fff;
    font-size: 12px;
    padding: 5px;
}
.listproduct-row .col-md-3{
    padding: 5px;
}

/* footer */
.footer-main{

}
.footer-content{

    background-color: #fff;
    padding: 40px 0px;
}

.footer-infor{
    margin-bottom: 12px;
}
.footer-nav-icon li{
    border: 1px solid black;
    width: 32px;
    height: 32px;
    margin-left: 12px;
    border-radius: 4px;
}
.footer-nav-icon li a{
    
    width: 32px;
    height: 32px;
    line-height: 30px;
    font-size: 14px;
    display: block;
    margin-right: 8px;
    margin-bottom: 8px;
    text-align: center;
    color: black;
    
}
.footer-nav-icon li:hover a{
    background-color: black;
    color: #fff;
}
.footer-lion .title-footer{
    font-size: 18px;
    font-weight: 700;
}
.footer-content-lion-text{
    color: #878c8f;
    font-size: 14px;
}
.footer-content-lion-text .add-footer-content-lion{
    list-style-type: none;
}
.footer-content-lion .footer-Navlink a{
    color: #878c8f;
   
}
.footer-content-lion .footer-Navlink {
    padding-left: 17px;
}
.footer-lion-content {
    color: #878c8f;
}
.footer-copyright{
    padding: 12px 0px;
    text-align: center;
    color: #878c8f;
    font-size: 13px;

}


/* css hover img */
.box{
    position: relative;
   
}
.hover-img,
.img-tr{
    transition: all linear 0.5s;
}
.hover-img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.box:hover img{
    opacity: 1;
}
